@charset "ISO-8859-1";

body{
	margin: 0px;
}

.container{
	height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darksalmon;
    justify-content: center;
	
}
.form{
	    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: aliceblue;
    padding: 50px;
    border-radius: 10px;
}
form{
	width: 350px;
	    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-field{
	display: flex;
	flex-direction: column;
	gap:8px;
}

input{
	height: 24px;
}

textarea {
	height: 100px;
}

button{
	    background: darksalmon;
    padding: 8px;
    border: none;
    border-radius: 10px;
}